<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <app-rex-card
        title="Rakuten Travel"
        imgsrc="https://rakuten-rex.github.io/rex-card/210eaa3cffeef4509b00a8ae96d33358.jpg"
      >
        According to <b>travelers</b>, the Kyoto Sagano Bamboo forest is one of
        worlds most beautiful groves.
      </app-rex-card>
    </div>
    <div class="col">
      <app-rex-card
        title="Rakuten Travel"
        imgsrc="https://rakuten-rex.github.io/rex-card/210eaa3cffeef4509b00a8ae96d33358.jpg"
      >
        According to <b>travelers</b>, the Kyoto Sagano Bamboo forest is one of
        worlds most beautiful groves.
      </app-rex-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-rex-card
        title="Rakuten Travel"
        imgsrc="https://rakuten-rex.github.io/rex-card/210eaa3cffeef4509b00a8ae96d33358.jpg"
      >
        According to <b>travelers</b>, the Kyoto Sagano Bamboo forest is one of
        worlds most beautiful groves.
      </app-rex-card>
    </div>
    <div class="col">
      <app-rex-card
        title="Rakuten Travel"
        imgsrc="https://rakuten-rex.github.io/rex-card/210eaa3cffeef4509b00a8ae96d33358.jpg"
      >
        According to <b>travelers</b>, the Kyoto Sagano Bamboo forest is one of
        worlds most beautiful groves.
      </app-rex-card>
    </div>
    <div class="col">
      <app-rex-card
        title="Rakuten Travel"
        imgsrc="https://rakuten-rex.github.io/rex-card/210eaa3cffeef4509b00a8ae96d33358.jpg"
      >
        According to <b>travelers</b>, the Kyoto Sagano Bamboo forest is one of
        worlds most beautiful groves.
      </app-rex-card>
    </div>
  </div>
</div>
