<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <img
    src="https://r.r10s.jp/com/rex/rex-logo/1.4.0/service/r-symbol_pc.svg"
    alt="r-symbol-logo"
  />
</div>

<div class="container">
  <app-rex-button>Button</app-rex-button>

  <app-rex-card
    title="Rakuten Travel"
    imgsrc="https://rakuten-rex.github.io/rex-card/210eaa3cffeef4509b00a8ae96d33358.jpg"
  >
    According to <b>travelers</b>, the Kyoto Sagano Bamboo forest is one of
    worlds most beautiful groves.
  </app-rex-card>
</div>
