@import 'rex-logo/rex-logo.production.min.css';

:host {
  display: block;
  margin: 10px 0;
}

h1 {
  width: 80%;
  margin: 0 auto 10px;
  padding-bottom: 10px;
}

.container {
  padding: 10px;
}

app-rex-button {
  display: block;
  margin-bottom: 10px;
}
